# Auto detect text files and perform LF normalization
* text=auto

# These are exact, generated upstream/license artifacts. Preserve their bytes
# and do not report upstream-required trailing whitespace as a local error.
packaging/THIRD-PARTY-LICENSES.txt -text whitespace=-trailing-space,-blank-at-eof
packaging/RUST-1.96-STANDARD-LIBRARY-COPYRIGHT.html -text whitespace=-trailing-space,-blank-at-eof
